ModeloProjeto/WebForms/Connected Services/ServiceReference/ClienteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClienteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52801/ClienteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52801/ClienteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52801/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceHost" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClienteService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IClienteService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetAllCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetAllCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetAllEndereco_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEndereco" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetAllEndereco_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEnderecoResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetClienteByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteByName" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetClienteByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IClienteService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/DoWork" message="tns:IClienteService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/DoWorkResponse" message="tns:IClienteService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/Update" message="tns:IClienteService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/UpdateResponse" message="tns:IClienteService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetById" message="tns:IClienteService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetByIdResponse" message="tns:IClienteService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetAllCliente" message="tns:IClienteService_GetAllCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetAllClienteResponse" message="tns:IClienteService_GetAllCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/Delete" message="tns:IClienteService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/DeleteResponse" message="tns:IClienteService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/Insert" message="tns:IClienteService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/InsertResponse" message="tns:IClienteService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEndereco">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetAllEndereco" message="tns:IClienteService_GetAllEndereco_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetAllEnderecoResponse" message="tns:IClienteService_GetAllEndereco_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClienteByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetClienteByName" message="tns:IClienteService_GetClienteByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetClienteByNameResponse" message="tns:IClienteService_GetClienteByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClienteService" type="tns:IClienteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IClienteService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IClienteService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetAllCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IClienteService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IClienteService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEndereco">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetAllEndereco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClienteByName">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetClienteByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteService">
    <wsdl:port name="BasicHttpBinding_IClienteService" binding="tns:BasicHttpBinding_IClienteService">
      <soap:address location="http://localhost:52801/ClienteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>